.HomePage{
    background: linear-gradient(90deg ,#96031a 33.33%, #fbfffe 33.33%,#fbfffe 66.66%, #1b1b1e 66.66%)
}
.QuestionTitle{
    display:flex;
    position:relative;
    justify-content:center;
    padding-top: 7rem;
}
.QuestionBlock{
    margin-left:29rem;
    margin-top:3rem;
    width:40%;
    height:100vh;
    border-radius:1rem;
    border-style:solid;
    z-index: 999;
    background-color: white;
}
.QuestionsQuestionDiv{
    padding: 0.2rem;
    display:flex;
    position:relative;
    justify-content:space-between;
    font-size: 1.2rem;
}
.QuestionsQuestion{
    cursor:pointer;
    
}

@media only screen and (max-width: 80em) {
    .QuestionTitle{
        margin-left: -6rem;
    }
    .QuestionBlock{
        margin-left: 23rem;
    }
}

@media only screen and (max-width: 64em) {
    .QuestionTitle{
        margin-left: -6rem;
    }
    .QuestionBlock{
        margin-left: 19rem;
    }
}

@media only screen and (max-width: 48em) {
    .QuestionTitle{
        margin-left: -1rem;
    }
    .QuestionBlock{
        margin-left: 14rem;
    }
}

@media only screen and (max-width: 40em) {
    .QuestionTitle{
        margin-left: -1rem;
    }
    .QuestionBlock{
        margin-left: 11rem;
    }
}