.Adminpage{
    display:flex;
}
.AdminAside{
    width:18rem;
    height:100vh;
    background-color:#6d676e
}
.AdminAsideDiv{
    margin-top:15rem;
}
.AdminAsideQuestionUpload{
    margin-bottom:0.5rem;
    font-size:1.5rem;
    height:2rem;
    width:13rem;
    border-radius:0.5rem;
    background-color:#969197;
    cursor:pointer;
}
.AdminAsideAllQuestions{
    margin-bottom:0.5rem;
    font-size:1.5rem;
    height:2rem;
    width:13rem;
    border-radius:0.5rem;
    background-color:#969197;
    cursor:pointer;
}
.AminAsideAllUsers{
    margin-bottom:0.5rem;
    font-size:1.5rem;
    height:2rem;
    width:13rem;
    border-radius:0.5rem;
    background-color:#969197;
    cursor:pointer;
}
.AdminDashboard{
    height:10rem;
    width:100vw;
    background-color:#1b1b1e;
    color:white;
}
.AdminDashboardTag{
    font-size:5rem;
    margin-top:2rem;
}
.AdminDashboardComponents{
    margin-left:2rem;
    margin-top:2rem;
}