.uploadButton{
    width: 5rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #ec3434;
}
.DeleteButton{
    width: 3rem;
    height: 2rem;
    background-color: #e92c2c;
    border-radius: 0.5rem;
    margin-top: 2rem;
}
.uploadButton:active{
    transform: scale(0.9);
}
.getTestCases{
    width: 7rem;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: #ec3434;
}
.getTestCases:active{
    transform: scale(0.9);
}
table{
    border-collapse: collapse;
}
tr{
    width:24rem;
}
td,th{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 30px;
    width:10rem;
    font-size: 1.05rem;
}